.gym-memberships {
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: $bg-grey;

    @include tablet {
      padding-top: 50px;
      padding-bottom: 100px;
    }

    @include mobile {
      padding-top: 36px;
      padding-bottom: 70px;
    }
}

.gym-memberships__content {
  padding-top: 61px;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding-top: 50px;
  }

  @include mobile {
    padding-top: 37px;
  }

  h2 {
    @include h2;
    margin-bottom: 33px;
    width: 226px;

    @include tablet {
      margin-bottom: 29px;
      width: 193px;
    }

    @include mobile {
      margin-bottom: 20px;
      width: 147px;
    }
  }
}

.gym-memberships__tab-header {
    margin-bottom: 39px;

    @include tablet {
      margin-bottom: 45px;
    }

    @include mobile {
      margin-bottom: 34px;
    }
}