.promotions {
  max-width: 1366px;
  margin: 0 auto;
  padding: 115px 103px 116px;

  @include tablet {
    max-width: 1199px;
    padding: 64px 45px 0;
  }

  @include mobile {
    max-width: 767px;
    padding: 0 15px;
  }
}

.promotions__content {
  align-items: center;
  flex-direction: column;

  @include tablet {
    padding-top: 36px;
    padding-bottom: 60px;
  }

  @include mobile {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  h2 {
    @include h2;
    text-align: center;
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 41px;
    }
  }
}

.promotions__info {
  display: flex;

  @include tablet {
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.promotions__main {
  display: flex;
  width: 560px;
  margin-right: 40px;

  @include tablet {
    width: 100%;
    margin-right: 0;
  }

  @include mobile {
    flex-direction: column;
  }

  img {
    width: 280px;
    height: 100%;
    object-fit: cover;

    @include tablet {
      width: 100%;
    }
  }
}

.promotions__text {
  width: 280px;
  padding: 44px 45px 32px;
  overflow: hidden;
  background-color: #ed0233;

  @include tablet {
    margin-right: 0;
    // margin-bottom: 30px;
    // padding-right: 440px;
    padding-top: 42px;
    padding-bottom: 43px;
    width: calc(100% - 399px);
    // width: 678px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 45px 45px;
    width: 100%;
  }

  h3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    span {
      color: $white;
      font-family: $roboto;
      font-weight: 700;

      &:first-child {
        margin-bottom: 3px;
        font-size: 28px;
        line-height: 28px;
      }

      &:last-child {
        font-size: 70px;
        line-height: 70px;
      }
    }

    @include tablet {
      margin-bottom: 18px;
    }

    @include mobile {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  p {
    margin-bottom: 186px;
    background-position: right;
    color: $white;
    font-family: $roboto;
    font-size: 18px;
    line-height: 25px;

    @include tablet {
      margin-bottom: 186px;
    }

    @include mobile {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.promotions__link {
  border-bottom: 1px solid $white;
  color: $white;
  font-family: $roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.promotions__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 48.3%;

  @include tablet {
    width: 100%;
    flex-direction: row;
  }

  @include mobile {
    flex-direction: column;
  }
}

.promotion-item {
  padding: 27px 29px 31px;
  margin-bottom: 39px;
  width: 100%;
  font-family: $roboto;
  color: $text-color;
  border-width: 7px;
  border-style: solid;
  border-image-source: linear-gradient(143.02deg, #d10a42 0.85%, #00359f 100%);
  border-image-slice: 1;

  &:last-child {
    margin-bottom: 0;

    @include mobile {
      h3 {
        margin-bottom: 10px;
      }
    }
  }

  @include tablet {
    width: calc(50% - 15px);
    padding: 24px 38px 28px 27px;
    margin-bottom: 0;
    margin-top: 30px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-top: 29px;
    padding: 36px 42px 43px 40px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 700;

    @include tablet {
      margin-bottom: 12px;
    }

    @include mobile {
      margin-bottom: 12px;
    }
  }

  p {
    margin-bottom: 69px;

    @include tablet {
      margin-bottom: 45px;
      min-height: 44px;
      line-height: 22px;
    }

    @include mobile {
      margin-bottom: 26px;
      text-align: center;
    }
  }
}

.promotion-item__link {
  border-bottom: 1px solid $text-color;
  color: $text-color;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
