@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/RobotoCondensedLight.woff2") format("woff2"),
    url("../fonts/RobotoCondensedLight.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/RobotoCondensed.woff2") format("woff2"),
    url("../fonts/RobotoCondensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/RobotoCondensedBold.woff2") format("woff2"),
    url("../fonts/RobotoCondensedBold.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/BebasNeueBold.woff2") format("woff2"),
    url("../fonts/BebasNeueBold.woff") format("woff");
}
