$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$roboto: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;

$white: #ffffff;
$black: #000;
$red: #ed0233;
$promo-bg: #ed0233;
$blue: #003eb7;
$blueDark: #103aae;
$blueExtra: #1c3374;
$text-color: #102654;
$grey: #495a7d;
$bg-grey: #f8f9fc;

@mixin tablet {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: $text-color;
  font-family: $bebas;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 1.5px;

  @include tablet {
    font-size: 42px;
    line-height: 42px;
  }

  @include mobile {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1px;
  }
}
